@font-face {
    font-family: "VerveineCorp";
    src: url("./fonts/VerveineCorp-Regular.ttf.otf") format("truetype");
}


body {
    margin: 0;
    padding: 0;
    font-family: "VerveineCorp", sans-serif;
    background-color: #93c49b;
    overflow: hidden;
}

/* контейнер */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 400px;
    z-index: 10;
    pointer-events: auto;
}

/* ВСЕ тексты */
.open-text,
.message {
    color: #2b303d; /* новый цвет текста */
}

.open-text {
    font-size: 28px;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 1s ease;
}

.message {
    margin-top: 25px;
    font-size: 30px;
    padding: 15px;
    animation: fadeIn 1s ease forwards;
}

.hidden {
    display: none;
}

.gift-box img {
    width: 220px;
    transition: transform 0.3s ease;
}

.shake {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-6px); }
    50% { transform: translateX(6px); }
    75% { transform: translateX(-6px); }
    100% { transform: translateX(0); }
}

/* фоновые картинки */
.floating-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.float-img {
    position: absolute;
    width: 30px;
    opacity: 0.7;
}

/* конфетти */
#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    pointer-events: none;
}
